<h3>Product List</h3>

<table style="border: 1px solid black">

    <tr style="border: 1px solid black">
        <th style="border: 1px solid black">ID</th>
        <th style="border: 1px solid black">Name</th>
        <th style="border: 1px solid black">Photo</th>
        <th style="border: 1px solid black">Price</th>
        <th style="border: 1px solid black">Quantity</th>
        <th style="border: 1px solid black">Total</th>
    </tr>
    @foreach (var product in ViewBag.products)
    {
        <tr>
            <td style="border: 1px solid black">@product.Id</td>
            <td style="border: 1px solid black">@product.Name</td>
            <td style="border: 1px solid black"><img src="~/images/@product.Photo" width="200" height="100" /></td>
            <td style="border: 1px solid black">@product.Price</td>
            <td style="border: 1px solid black">@product.Quantity</td>
            <td style="border: 1px solid black">@(product.Price * product.Quantity)</td>
        </tr>

    }
</table>
